<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   <h1>Caja - Sistema de Pedidos</h1>
   <img src="{{ url_for('static', filename='img/cashier.png') }}" alt="Caja" width="400">
    <nav>
        <ul>
            <br>
            <br>
            <a href="/Sumar">Total Pedido</a>
            <a href="/QuitarElementoPedido ">Quitar Elemento </a>
            <li><a href="/">Regresar al inicio</a></li>
        </ul>
    </nav>
    <br>
    <br>
</body>
</html>
