<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocina - Sistema de Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="/static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<body>

<h1>Cocina - Sistema de Pedidos</h1>

<button type="button" onclick="consultarOrdenCocina()">Consultar Última Orden en Cocina</button>


<button type="button" onclick="eliminarOrdenCocina()">Eliminar Última Orden en Cocina</button>

<a href="{{ url_for('index') }}">
    <button>Regresar al Inicio</button>
</body>
</html>
