<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meseros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  
        <h1>Bienvenido al Sistema De Pedidos - Cocina</h1>
    
    <nav>
        <ul>
            <br>
            <br>
            <a href="/Eliminar">Terminar Pedido</a>
            <a href="/ConsultarPedidos ">Consultar Pedidos </a>
            <li><a href="/">Regresar al inicio</a></li>
        </ul>
    </nav>
    <br>
    <br>
</body>
</html>
