<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Pedido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  
        <h1>Eliminar Pedido</h1>
    
    <div class="mensaje-container">
        <p>{{ mensaje }}</p>
    </div>
    <nav>
        <ul>
            <li><a href="/Cocinas">Regresar</a></li>
        </ul>
    </nav>
</body>
</html>
