<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
        <h1>Bienvenido al Sistema de Pedidos</h1>
        
    <nav>
        <ul>
            <br>
            <br>
            <a href="/Cajas">Caja</a>
            <a href="/Meseros">Meseros</a>
            <a href="/Cocinas">Cocina</a>
            <a href="/Menu">Menu</a>
            <br>
        </ul>
    </nav>
    <br>
    <img src="{{ url_for('static', filename='img/pizza.webp') }}" alt="Menu" width="400">
</body>
</html>
