<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
    
    <img src="{{ url_for('static', filename='img/menu.png') }}" alt="Menu" width="400">
    {% for categoria, items in menu.items() %}
    <h2>{{ categoria }}</h2>
    <ul>
        {% for item in items %}
            {{ item.id }} {{ item.nombre }} - ${{ item.precio }}
            <br>
        {% endfor %}
    </ul>
{% endfor %}
    <a href="{{ url_for('index') }}">
        <button>Regresar al Inicio</button>
    </a>

</body>
</html>